
@{
    ViewBag.Title = "ProcessAuthCodeAndGetToken";
}

<h2> Welcome @ViewBag.name</h2>
<hr />
<h3>username : @ViewBag.username</h3>
<h3>mobile no. : @ViewBag.mobile_number</h3>
<h3>aadhar no. : @ViewBag.aadhaar_ref_no</h3>
<h3>state : @ViewBag.state</h3>
<hr />
